.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img{
    margin: 15px auto;
    object-fit: contain;
    width: 100px;
    
}
.login__container{
    width: 350px;
    display: flex;
    flex-direction:column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}
.login__container h1 {
    font-size: 25px;
    margin: 20px 0;
}
.login__container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login__container form div{
    display: flex;
    flex-direction: column;
    gap : 5px;
}
.login__container form input{
    margin-bottom: 10px;
    padding: 8px 16px;
    border: none;
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    border-radius: 3px;

}
.login__container form input:focus{
    outline: 2px solid skyblue;
}
.signin_button{
border: none;
background-color: #f0c14b;
border-radius: 3px;
width: 100%;
height: 30px;
cursor: pointer;
margin-top: 10px;
}
.signin_button:hover{
    background-color: var(--primary-shade);
}
.login__container p{
    font-size: 12px;
    padding: 10px 0;
}
.create_account_button{
    border: none;
    background-color: #e7e9ec;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.create_account_button:hover{
    background-color: #d6d8da;
}