* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


/* make images responsive globally */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary-color: #febd69;
  --primary-shade: #d49644;
}


